/* Add CSS Styling */

.pink {
    background-color: pink;
    font-family: "veranda", "DejaVu Sans", sans-serif;
}

#first-id {
    color: blue;
    font-size: 36px;
}

.pink.cooler {
    font-size: 24px;
}

#second-id {
    background-color: green;
    font-size: 24px;
    font-weight: bold;

}