/* Add CSS Styling */

.press .dont-press {
    font-size: 28px;
    font-family: helvetica, "Times New Roman", sans-serif;
}

.press {
    background-color: black;
    color: white
}

.dont-press {
    background-color: yellow;
}